.banner-1-section {
    align-items: center;
    background: url('../assets/img/Bannner\ 1.png') no-repeat center top/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 90vh;
    margin-top: 150px;
    padding: 0 5%;
    position: relative;
}

/* Sobreposição Escura (Overlay) */

.banner-1-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.banner-1-content {
    border-left: 2px solid #F47C38;
    margin-right: auto;
    min-height: 230px;
    max-width: 800px;
    padding-left: 20px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 3;
}

.banner-1-content {
    max-width: 800px;
    position: relative;
    z-index: 2;
}

.banner-1-content {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.banner-1-title {
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.banner-1-subtitle {
    color: #e3e3e3;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2px;
}

.container__botao-cotacao {
    background-color: #F47C38;
    border: 2px solid #F47C38;
    border-radius: 10px 0 10px 0;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.container__botao-cotacao:hover {
    background-color: transparent;
    box-shadow: none;
    color: #F47C38;
}

.banner-1-section-orange {
    color: #F47C38;
}

@media (max-width: 991.98px) {
    .banner-1-section {
        height: 70vh;
    }

    .banner-1-subtitle {
        font-size: 1.2rem;
    }

    .banner-1-title {
        font-size: 2.5rem;
    }

    .container__botao-cotacao {
        font-size: 12px;
        padding: 8px 15px;
    }
}

@media (max-width: 767.98px) {
    .banner-1-section {
        padding: 15px;
    }

    .banner-1-title {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .container__botao-cotacao {
        font-size: 11px;
        padding: 6px 12px;
    }
}