.main-footer {
    background-color: var(--cor-terciaria-cinzaescuro) !important;
    color: var(--cor-primaria-cinzaclaro) !important; 
    font-size: 16px;
    padding: 3rem 0;
}

.main-footer h4 {
    color: var(--cor-neutra-branco);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
}

.main-footer .mb-4 {
    margin-bottom: 15px !important;
}

.main-footer .mb-5 {
     margin-bottom: 20px !important; 
}

.main-footer ul li a,
.main-footer address a,
.main-footer address,
.main-footer p {
    color: var(--cor-primaria-cinzaclaro) !important; 
    font-size: 0.9rem;
    line-height: 1.4;
    text-decoration: none !important;
}

.main-footer ul {
    list-style: none;
    padding: 0;
}

.main-footer ul li a:hover {
    color: var(--cor-decoracao-laranja) !important;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    background-color: #F47C38;
    transform: scale(1.1);
    border-radius: 5px;
}

.formas-pagamento-icons {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 200px; 
}

.formas-pagamento-icons img {
    background-color: var(--cor-neutra-branco);
    border-radius: 0 5px 0 5px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    height: 35px;
    object-fit: contain;
    padding: 5px;
    width: 70px;

    transition: transform 0.3s ease;
    display: block;
    cursor: pointer;
}

.formas-pagamento-icons img:hover {
    transform: scale(1.1);
}

.main-footer img[alt="Torcisão Trefilados"] {
    width: 160px !important;
}

.contato-link:hover {
    color: var(--cor-decoracao-laranja) !important;
}

.contato-link {
    color: var(--cor-primaria-cinzaclaro);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-icon {
    height: 15px;
    width: 15px;
}

[data-bs-theme="dark"] {
    background-color: var(--cor-secundaria-cinzamedio) !important; 
    color: var(--cor-primaria-cinzaclaro) !important;
}

[data-bs-theme="dark"] body {
    background-color: var(--cor-secundaria-cinzamedio) !important;
}

@media (min-width: 992px) {
    .main-footer .row > div:nth-child(2), 
    .main-footer .row > div:nth-child(3) { 
        padding-top: 125px; 
    }
}

@media (max-width: 767.98px) {
    .main-footer .col-12 {
        margin-bottom: 25px !important; 
        text-align: center;
    }
    
    .main-footer img, 
    .main-footer .formas-pagamento-icons {
        margin-left: auto;
        margin-right: auto;
    }
    
    .formas-pagamento-icons {
        justify-content: center;
    }
    
    .main-footer ul {
        padding-left: 0;
    }

    .main-footer .col-12 p.d-flex {
        align-items: center; 
        width: 100%;  
    }

    .main-footer .col-12 address {
        text-align: center;
    }

    .main-footer .col-12 .contato-link {
        justify-content: center;
    }

    .social-icons {
        display: flex !important; 
        flex-wrap: nowrap; 
        justify-content: center !important;
        margin-top: 20px;
    }
}