.post-footer {
    background-color: var(--cor-primaria-cinzaclaro);
    color: var(--cor-secundaria-cinzamedio);
    padding: 10px 0;
}

.ciesp-logo {
    filter: brightness(0.9); 
    height: 50px;
    width: auto; 
}

[data-bs-theme="dark"] .post-footer {
    background-color: var(--cor-secundaria-cinzamedio) !important; 
    color: var(--cor-primaria-cinzaclaro) !important; 
}

@media (max-width: 767.98px) { 
    .post-footer .container {
        align-items: center !important; 
        flex-direction: column !important;
        text-align: center;
    }

    .post-footer .ciesp-logo {
        margin-bottom: 5px; 
    }
    
    .post-footer p.mb-2.mb-md-0 {
        margin-bottom: 5px !important; 
    }
}