/* --- ESTILOS DA SEÇÃO PRODUTOS --- */
.produtos-section {
    background-color: var(--cor-primaria-cinzaclaro);
    padding: 80px 5%;
    text-align: center;
}

.section-produtos-title {
    color: #F47C38;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.product-cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.product-card {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 10px 0 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;   
}

.product-card:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.18); 
    transform: scale(1.03);
    z-index: 5;
}

.product-img {
    border-radius: 10px 0 10px 0;
    height: 180px;
    margin-bottom: 15px;
    max-width: 100%;
}

.product-name {
    color: var(--cor-terciaria-cinzaescuro);
    font-weight: 600;
    margin-bottom: 15px;
}

.btn-saiba-mais, .btn-consultor, .btn-fechar-modal {
    background-color: #F47C38;
    border: none;
    border-radius: 10px 0 10px 0;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.3s; 
}

.btn-consultor:hover {
    background-color: transparent !important;
    border: 2px solid #F47C38 !important; 
    box-shadow: none !important;
    border-radius: 10px 0 10px 0 !important;
    color: #F47C38 !important;   
}

.btn-saiba-mais:hover {
    background-color: transparent !important;
    border: 2px solid #F47C38 !important; 
    box-shadow: none !important;
    border-radius: 10px 0 10px 0 !important;
    color: #F47C38 !important; 
}

.btn-consultor {
    display: block;
    font-size: 1.2rem;
    margin: 0 auto;
    width: 300px;
}

/* --- ESTILOS DO MODAL --- */
.modal-content {
    border-radius: 10px;
}

.modal-product-img {
    max-height: 200px;
    width: auto;
}

/* Estilo do botão dropdown no modal */
.btn-torcisao-dropdown {
    background-color: var(--cor-terciaria-cinzaescuro); 
    border-color: var(--cor-terciaria-cinzaescuro);
    color: white;
    font-weight: 500;
}

.btn-fechar-modal,
.btn-especificacoes-laranja {
    background-color: var(--cor-secundaria-cinzamedio);
    border: none;
    border-color: var(--cor-secundaria-cinzamedio); 
    border-radius: 0 10px 0 10px;
    color: var(--cor-neutra-branco);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 8px 20px;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
}

.btn-fechar-modal:hover,
.btn-especificacoes-laranja:hover {
    background-color: var(--cor-decoracao-laranja) !important;
    border-color: var(--cor-decoracao-laranja) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--cor-neutra-branco) !important;
    transform: translateY(-1px); 
}

/* --- ADEQUAÇÃO DA SEÇÃO PRODUTOS AO MODO NOTURNO --- */

body[data-bs-theme="dark"] .produtos-section {
    background-color: var(--cor-terciaria-cinzaescuro);
}

body[data-bs-theme="dark"] .product-card {
    background-color: var(--cor-primaria-cinzaclaro);
    border-color: var(--cor-secundaria-cinzamedio);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body[data-bs-theme="dark"] .product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5) !important;
}

body[data-bs-theme="dark"] .btn-consultor:hover {
    background-color: transparent !important;
    border: 2px solid #F47C38 !important; 
    box-shadow: none !important;
    border-radius: 10px 0 10px 0 !important;
    color: #F47C38 !important; 
}

body[data-bs-theme="dark"] .btn-consultor {
    border: 2px solid #F47C38; 
    background-color: #F47C38;
}

body[data-bs-theme="dark"] .btn-saiba-mais {
    border: 2px solid #F47C38; 
    background-color: #F47C38;
    border-radius: 10px 0 10px 0 !important;
    color: var(--cor-primaria-cinzaclaro);
    transition: all 0.3s ease;
}

body[data-bs-theme="dark"] .btn-saiba-mais:hover {
    background-color: transparent !important;
    border: 2px solid #F47C38 !important; 
    box-shadow: none !important;
    border-radius: 10px 0 10px 0 !important;
    color: #F47C38 !important; 
}

@media (max-width: 767px) {
    .product-cards-container {
        align-items: center;
        flex-direction: column; 
        gap: 20px;
    }

    .btn-consultor {
        margin-top: 30px;
    }
}