.banner-2-social-section {
    align-items: center;
    background-image: url(../assets/banners/Imagens\ -\ Site\ -\ Banner\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor-neutra-branco);
    display: flex;
    height: 450px; 
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.banner-2-social-content {
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

.banner-2-social-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.banner-2-social-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    opacity: 0.9;
}

.banner-2-destaque-orange {
    color: #F47C38;
}

@media (max-width: 991.98px) {
    
    .banner-2-social-section {
        height: 350px; 
    }
    
    .banner-2-social-title {
        font-size: 2rem; 
    }

    .banner-2-social-subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    
    .banner-2-social-section {
        height: 300px; 
    }
    
    .banner-2-social-title {
        font-size: 1.8rem; 
    }
    
    .banner-2-social-subtitle {
        font-size: 1rem;
    }

    .banner-2-social-content {
        padding: 0 15px;
    }
}